[Unit]
Description=Shadowsocks-Libev Custom Client Service Redir Mode
Documentation=man:ss-redir(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
User=proxy
Group=proxy
ExecStart=/usr/bin/ss-redir -c /etc/shadowsocks-libev/ss-redir.json

[Install]
WantedBy=multi-user.target